<div class="container-fluid bg-dark text-light min-vh-100">
  <div class="row p-5">
    <!-- Left Column -->
    <div class="col-md-7">
      <h1 class="display-4 mb-4">
        <span class="about-me-title">About Me</span>
      </h1>

      <p class="lead mb-5">
        As an Information Technology student at Kasetsart University, Sriracha
        Campus, I am passionate about creating efficient and user-friendly web
        applications. I have hands-on experience with Angular, Node.js, Express,
        and SQL Server, developing full-stack projects and RESTful APIs. I am
        eager to gain real-world experience, collaborate with professionals, and
        further enhance my technical skills in a dynamic environment.
      </p>

      <div class="row">
        <div class="col-md-6 mb-4">
          <h3 class="mb-3">
            <span class="underline">Education</span>
          </h3>
          <div class="mb-4">
            <p class="mb-1">Bachelor of Science in Information Technology</p>
            <p class="mb-1">Kasetsart University, Sriracha Campus</p>
            <p class="mb-1">2022 – Present</p>
            <p>Current GPAX: 3.40</p>
          </div>

          <h3 class="mb-3"><span class="underline">Soft Skills</span></h3>
          <ul class="list-unstyled">
            <li class="mb-2">Communication</li>
            <li class="mb-2">Adaptability</li>
            <li class="mb-2">Critical Thinking</li>
            <li class="mb-2">Leadership</li>
            <li class="mb-2">Agile Mindset</li>
          </ul>
        </div>

        <div class="col-md-6">
          <h3 class="mb-3"><span class="underline">Technical Skills</span></h3>

          <h5 class="mb-2" style="color: white">Programming Languages</h5>
          <ul class="list-unstyled mb-4">
            <li class="mb-2">JavaScript (JS)</li>
            <li class="mb-2">TypeScript (TS)</li>
            <li class="mb-2">Java (OOP)</li>
            <li class="mb-2">Kotlin (Currently Learning)</li>
          </ul>

          <h5 class="mb-2" style="color: white">Frameworks & Libraries</h5>
          <ul class="list-unstyled mb-4">
            <li class="mb-2">Angular</li>
            <li class="mb-2">Express</li>
            <li class="mb-2">Bootstrap</li>
          </ul>
          <h5 class="mb-2" style="color: white">Tools & Platforms</h5>
          <ul class="list-unstyled">
            <li class="mb-2">Git & GitHub</li>
            <li class="mb-2">Postman</li>
            <li class="mb-2">Figma</li>
            <li class="mb-2">Microsoft Azure</li>
            <li class="mb-2">Power BI</li>
            <li class="mb-2">MSSQL</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="col-md-5">
      <img
        src="me1.jpg"
        alt="Profile Picture"
        class="img-fluid rounded mt-5"
        style="width: 100%; height: auto; object-fit: cover"
      />
    </div>
  </div>
</div>
