<!-- Carousel 1 -->
<div
  id="projectCarousel1"
  class="carousel slide animated-fade"
  data-ride="carousel"
>
  <div class="carousel-caption-top">
    <h1>E-Commerce Platform | 2024</h1>
    <h3>Group Project, University</h3>
    <ul>
      <li>
        Developed a full-stack e-commerce platform using Angular (frontend) and
        Node.js with Express.js (backend).
      </li>
      <li>
        Designed and managed a relational database in SQL Server for user
        accounts, product inventories, and transactions.
      </li>
      <li>
        Collaborated in an Agile environment, delivering features iteratively
        with a team of 4 members.
      </li>
    </ul>
    <p>
      GITHUB:
      <a href="https://github.com/Sittinon2501/Ecommerce-BPppp" target="_blank"
        >https://github.com/Sittinon2501/Ecommerce-BPppp</a
      >
    </p>
  </div>

  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <img
        src="homepage.png"
        class="d-block w-100 carousel-image"
        alt="Project 1"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Homepage</h5>
        <p>Displays product categories</p>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <img
        src="product.png"
        class="d-block w-100 carousel-image"
        alt="Project 2"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Product Page</h5>
        <p>
          Lists all available products, allowing users to browse and select
          items.
        </p>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <img
        src="managecatego.png"
        class="d-block w-100 carousel-image"
        alt="Project 3"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Manage Categories Page</h5>
        <p>
          Allows administrators to add, edit, and delete product categories.
        </p>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="carousel-item">
      <img
        src="manageproduct.png"
        class="d-block w-100 carousel-image"
        alt="Project 3"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Manage Products Page</h5>
        <p>Can be done like Manage Categories Page</p>
      </div>
    </div>
    <!-- Slide 5 -->
    <div class="carousel-item">
      <img
        src="adminorder.png"
        class="d-block w-100 carousel-image"
        alt="Project 3"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Admin Order Page</h5>
        <p>Able to manage orders</p>
      </div>
    </div>
    <!-- Slide 5 -->
    <div class="carousel-item">
      <img
        src="report.png"
        class="d-block w-100 carousel-image"
        alt="Project 3"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Admin Dashboard</h5>
        <p>
          Features various analytics, including sales graphs and revenue
          breakdown by category.
        </p>
      </div>
    </div>
  </div>

  <!-- Carousel Controls -->
  <a
    class="carousel-control-prev"
    href="#projectCarousel1"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#projectCarousel1"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br />

<!-- Carousel 2 -->
<div
  id="projectCarousel2"
  class="carousel slide animated-fade"
  data-ride="carousel"
>
  <div class="carousel-caption-top">
    <h1>Task To-Do List Management System | 2024</h1>
    <h3>Individual Project, University</h3>
    <ul>
      <li>
        Built a task management app using the SEAN stack (SQL Server,
        Express.js, Angular, Node.js).
      </li>
      <li>Designed a UI in Angular for creating and tracking tasks.</li>
      <li>
        Developed a RESTful API in Express.js for frontend-backend interaction.
      </li>
    </ul>
    <p>
      GITHUB:
      <a href="https://github.com/Sittinon2501/ToDoList" target="_blank"
        >https://github.com/Sittinon2501/ToDoList</a
      >
    </p>
  </div>

  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <img
        src="homepagetodolist.png"
        class="d-block w-100 carousel-image"
        alt="Project 1"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Task Overview</h5>
        <p>
          Displays all tasks, with high-priority tasks shown first to help users
          focus on what matters most.
        </p>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <img
        src="หน้าจัดการงาน.png"
        class="d-block w-100 carousel-image"
        alt="Project 2"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Task Management Page</h5>
        <p>
          Allows users to add new tasks, set priorities, and adjust task
          importance by rearranging them.
        </p>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <img
        src="ประวัติtasks.png"
        class="d-block w-100 carousel-image"
        alt="Project 3"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Task History Page</h5>
        <p>Stores a record of completed tasks for future reference.</p>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="carousel-item">
      <img
        src="คู่มือการใช้งาน.png"
        class="d-block w-100 carousel-image"
        alt="Project 3"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>User Guide Page</h5>
        <p>Provides instructions on how to use the system effectively.</p>
      </div>
    </div>
  </div>

  <!-- Carousel Controls -->
  <a
    class="carousel-control-prev"
    href="#projectCarousel2"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#projectCarousel2"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br />

<!-- Carousel 3 -->
<div id="projectCarousel3" class="carousel slide" data-ride="carousel">
  <div class="carousel-caption-top">
    <h1>Expense Management System | 2024</h1>
    <h3>Group Project, University</h3>
    <ul>
      <li>
        Designed ER diagrams, data dictionaries, and Data Flow Diagrams (DFD) to
        structure system workflows.
      </li>
      <li>
        Provided technical guidance and support to the team, assisting in both
        frontend and backend development.
      </li>
      <li>
        Collaborated in an Agile environment, ensuring iterative improvements
        and smooth team coordination.
      </li>
    </ul>
    <p>
      GITHUB:
      <a href="https://github.com/gubsitt/SA" target="_blank"
        >https://github.com/gubsitt/SA</a
      >
    </p>
  </div>

  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <img
        src="mangรับจ่าย.png"
        class="d-block w-100 carousel-image"
        alt="Project 1"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Financial Management Page</h5>
        <p>
          This page allows users to record, track, and review their income and
          expenses efficiently, with a detailed income and expense statement.
          Users can add transaction entries as needed.
        </p>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="ca.png" class="d-block w-100 carousel-image" alt="Project 2" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Income & Expense Categories Page</h5>
        <p>Allows users to add and delete income and expense categories.</p>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="sum.png" class="d-block w-100 carousel-image" alt="Project 3" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Settings & Utilities Page</h5>
        <p>
          A centralized page that includes various features such as settings,
          search, about, and export to Excel, making it easier for users to
          manage and customize their experience.
        </p>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="carousel-item">
      <img src="วิ1.png" class="d-block w-100 carousel-image" alt="Project 3" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Income Analysis Page</h5>
        <p>Displays income data using a donut chart for better insights.</p>
      </div>
    </div>

    <!-- Slide 5 -->
    <div class="carousel-item">
      <img src="วิ2.png" class="d-block w-100 carousel-image" alt="Project 3" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Expense Analysis Page</h5>
        <p>Visualizes expense data with a donut chart, helping users track their spending patterns.</p>
      </div>
    </div>
    <!-- Slide 6 -->
    <div class="carousel-item">
      <img src="วิ3.png" class="d-block w-100 carousel-image" alt="Project 3" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Budget Analysis Page</h5>
        <p>Presents budget data through a donut chart, showcasing budget allocation and financial planning.</p>
      </div>
    </div>
    <!-- Slide 7 -->
    <div class="carousel-item">
      <img src="กระเป๋าเงิน.png" class="d-block w-100 carousel-image" alt="Project 3" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Wallet Page</h5>
        <p>Provides an overview of financial status using a pie chart, summarizing total income, expenses, and balance.</p>
      </div>
    </div>
  </div>

  <!-- Carousel Controls -->
  <a
    class="carousel-control-prev"
    href="#projectCarousel3"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#projectCarousel3"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br />
<!-- Carousel 4 -->
<div id="projectCarousel4" class="carousel slide" data-ride="carousel">
  <div class="carousel-caption-top">
    <h1>E-commerce Design and Analysis | 2023</h1>
    <h3>Group Project, University</h3>
    <ul>
      <li>
        Designed UI for an E-commerce website using Figma.
      </li>
      <li>
        Analyzed the system with Business Model Canvas to develop the business workflow.
      </li>
      <li>
        Worked in a team of 4 members, focusing on UI/UX design and user flow.
      </li>
    </ul>
    <p>
      Figma:
      <a href="Figma:https://www.figma.com/design/mZItvqm4QrPeEtHwidPodm/Ecom?node-id=0-1&p=f&t=SYH7S5T7oF6DZG0J-0" target="_blank"
        >Figma:https://www.figma.com/design/mZItvqm4QrPeEtHwidPodm/Ecom?node-id=0-1&p=f&t=SYH7S5T7oF6DZG0J-0</a
      >
    </p>
    <p>
      
      <a href="https://www.canva.com/design/DAF5BqXXI9Q/Y2WFJl4Gee91_uJEDg7QSw/edit?utm_content=DAF5BqXXI9Q&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank"
        >Business Model Canvas</a
      >
    </p>
  </div>

  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <img
        src="zip1.png"
        class="d-block w-100 carousel-image"
        alt="Project 1"
      />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Home Page (Zipper Tree)
        </h5>
        <p>
          Explains what Zipper Tree is and its purpose.
        </p>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="zip2.png" class="d-block w-100 carousel-image" alt="Project 2" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Product Page
        </h5>
        <p>Displays detailed information about different products available in the system.</p>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="zip3.png" class="d-block w-100 carousel-image" alt="Project 3" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Payment Page</h5>
        <p>
          Displays the total number of items, prices, and discounts before completing the transaction.
        </p>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="carousel-item">
      <img src="zipmodel.png" class="d-block w-100 carousel-image" alt="Project 3" />
      <div
        class="carousel-caption d-block"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 5px;
        "
      >
        <h5>Business Model Canvas Page
        </h5>
        <p>Provides a visual representation of the business model, helping users understand the key components and structure of the business.</p>
      </div>
    </div>
  </div>

  <!-- Carousel Controls -->
  <a
    class="carousel-control-prev"
    href="#projectCarousel4"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#projectCarousel4"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

