@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* Apply animation to the .row */
  .animated-fade {
    animation: fadeIn 0.8s ease-out;
  }
  .contact-me-title{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.5rem;
  }
  .large-text {
    font-size: 1.2rem; /* You can adjust this value as per your preference */
}
.row.animated-fade {
    min-height: 100vh; /* ทำให้ความสูงของแถวเต็มหน้าจอ */
    display: flex;
    align-items: center; /* จัดเนื้อหากลางแนวตั้ง */
    justify-content: center; /* จัดเนื้อหากลางแนวนอน */
}

.col-md-6 {
    display: flex;
    justify-content: center;
}

.col-md-6 img {
    max-width: 100%; /* ปรับขนาดให้เหมาะสม */
    height: auto;
    border-radius: 15px; /* ทำให้ขอบรูปมนๆ ทุกมุม */
}
