@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* Apply animation to the .row */
  .animated-fade {
    animation: fadeIn 0.8s ease-out;
  }
  .contact-me-title{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.5rem;
  }
  .large-text {
    font-size: 1.2rem; /* You can adjust this value as per your preference */
}
