<!-- mypro.component.html -->
<div class="row animated-fade">
  <div class="col-md-6">
    <img
      src="me2.jpg"
      alt="Sittinon Tongsua"
      style="width: 100%; max-width: 600px; height: auto"
    />
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center p-5">
    <h1 class="display-4 mb-4">
        <span class="contact-me-title">My Contact</span>
    </h1>

    <div class="mt-4 text-white">
        <p class="large-text"><i class="bi bi-phone me-2"></i> <strong>Phone:</strong> 092-754-5385</p>
        <p class="large-text">
          <i class="bi bi-envelope me-2"></i>
          <a href="mailto:sittinon.to@ku.th">sittinon.to[at]ku.th</a>
        </p>
        <p class="large-text">
          <i class="bi bi-house-door me-2"></i> <strong>Address:</strong> 152 Village No. 2, Hua Wa Subdistrict, Si Maha Phot District, Prachinburi
        </p>
        <p class="large-text">
          <i class="bi bi-github me-2"></i> <strong>GitHub:</strong>
          <a href="https://github.com/Sittinon2501" target="_blank">Sittinon2501</a>
        </p>
    </div>
    
  </div>
</div>
