<div class="container-fluid" style="background-color: #2d2d2d; color: white;">
  <header class="p-3">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand h4 text-white" href="#">Sittinon Tongsua</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white btn" routerLink="/">
                <i class="bi bi-house-door"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white btn" routerLink="/about-me">
                <i class="bi bi-person"></i> About Me
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white btn" routerLink="/certificate">
                <i class="bi bi-award"></i> Certificate
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white btn" routerLink="/projects">
                <i class="bi bi-briefcase"></i> Projects
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white btn" routerLink="/contact">
                <i class="bi bi-envelope"></i> Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>

<!-- Content Below Navbar -->
<div class="container-fluid bg-dark text-white">
  <router-outlet></router-outlet>
</div>
