/* ตั้งค่าพื้นหลังสีขาวและตัวหนังสือสีดำสำหรับลิงก์ */
.nav-link {
    background-color: white;
    color: black;
    padding: 10px 20px; /* เพิ่ม padding ซ้ายขวา 20px และบนล่าง 10px */
    font-size: 18px; /* ลดขนาดฟอนต์ให้พอดี */
    display: inline; /* ใช้ inline แทน inline-block */
    text-transform: uppercase; /* ทำให้ตัวหนังสือเป็นตัวพิมพ์ใหญ่ */
    font-weight: bold; /* ทำให้ตัวหนังสือหนาขึ้น */
    width: auto; /* ความกว้างจะพอดีกับข้อความ */
    max-width: 130px; /* จำกัดความกว้างสูงสุดของลิงก์ */
    white-space: nowrap; /* ทำให้ข้อความไม่ตัดคำหรือหักบรรทัด */
    overflow: hidden; /* ซ่อนข้อความที่ยาวเกิน */
    text-overflow: ellipsis; /* ใช้ ... เมื่อข้อความยาวเกิน */
  }
  
  /* เปลี่ยนพื้นหลังและตัวหนังสือเมื่อคลิกเลือกลิงก์ */
  .nav-link.active-link {
    background-color: #f8f9fa; /* สีพื้นหลังเมื่อเลือก */
    color: black;
  }
  /* Animation for content loading */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Apply animation to the .row */
.animated-fade {
  animation: fadeIn 0.8s ease-out;
}
.portfolio-me-title{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 0.5rem;
}
.row.animated-fade {
  min-height: 100vh; /* ใช้ความสูงของหน้าจอทั้งหมด */
  display: flex;
  align-items: center; /* จัดกึ่งกลางเนื้อหาในแนวตั้ง */
}

.col-md-6 img {
  max-width: 100%; /* ปรับขนาดรูปให้เต็มความกว้าง */
  height: 100%; /* กำหนดให้รูปภาพเต็มความสูงของ div */
  object-fit: cover; /* ทำให้รูปภาพเต็มและไม่ยืดตัว */
  border-radius: 15px; /* ทำให้ขอบมน */
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem; /* เพิ่มระยะห่างในส่วนของข้อความ */
}

