<!-- mypro.component.html -->
<div class="row animated-fade">
  <div class="col-md-6">
    <img src="me.jpg" alt="Sittinon Tongsua" class="img-fluid rounded-start" style="width: 100%; max-width: 600px; height: auto;" />
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center p-5">
    
    <h1 class="display-4 mb-4">
      <span class="portfolio-me-title">My Portfolio</span>
    </h1>

    
    <p class="lead">Hi, my name is Nice! I'm an IT student passionate about web development. I have a solid foundation in Angular, Node.js, Express, and SQL Server and enjoy building web applications that are both functional and user-friendly.</p>
    <a class="nav-link text-dark" routerLink="/projects">Projects</a>
  </div>
</div>
