<!-- mypro.component.html -->
<div class="row">
    <div class="col-md-6">
        <img src="https://placehold.co/600x800" alt="Sittinon Tongsua" class="img-fluid rounded-start" />
      </div>
    <div class="col-md-6 d-flex flex-column justify-content-center p-5">
      <h2 class="display-4">My Portfolio</h2>
      <p class="lead">Hi, my name is Nice! I'm an IT student passionate about web development. I have a solid foundation in Angular, Node.js, Express, and SQL Server and enjoy building web applications that are both functional and user-friendly.</p>
      <a class="nav-link text-drak" routerLink="/projects">Projects</a>
    </div>
    
  </div>
  
  <footer class="text-center p-3">
    <p>Page | 01</p>
  </footer>
  